body {
	font-family: 'News Cycle', sans-serif;
	margin: 0 auto;
	background: #303030;
}

#background-image {
	background: url('https://lh4.googleusercontent.com/-iCB2VKDRfDY/UbR7STdWjCI/AAAAAAAAALY/_oxGFWU4-N8/w852-h479-no/f9175761-46e1-4989-97be-de8c62c3dd61') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

#content {
    /*background: #303030;*/
    color: #EBECF1;
    margin: 0 auto;
    padding:0 5%;
    width: 30%;
    margin-left: 60%;
    padding: 5% 5%;
}

#content-box {
	background-color: #414040;
	opacity: 0.65;
	padding: 5px 30px;
	border-radius: 6px;
}

ul {
	list-style-type: none;
	padding: 0 3% 0 0;
}

li {
    background-color: #A7A7A7;
    color: #212121;
    border: 1px solid #313131;
    padding:3px 30px;
    border-radius: 3px;
}

#portfolio {
	padding-bottom: 10px;
}

#mobile-picture {
	display: none;
}



